.result-title {
  color: #fff;
  font-size: 55px;
  text-align: center;
  padding-top: 5%;
}

.result-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&dl=lily-banse--YHSwy6uqvk-unsplash.jpg&w=1920&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  margin-bottom: 50px;
}
